@model Models.MotivoCancelamento

@{
    ViewBag.Title = "Excluíndo Motivos de Cancelamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Breadcrumb{

    <li class="active"><span class="divider">/</span>    @Html.ActionLink("Motivos de Cancelamento", "Index")</li>
}


<div class="alert">

    <h2>Atencão!</h2>
    Você tem certeza que deseja apagar esse registro?
</div>

<table class="table table-bordered table-striped table-highlight">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.RegDtInicio)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.MotivoCancelamentoId</td>
            <td width="100%">
                @Model.MotivoCancelamentoNome
            </td>
            <td nowrap>
                @Model.RegDtInicio
            </td>
        </tr>
    </tbody>
</table>



@using (Html.BeginForm())
{
    
    @Html.HiddenFor(model => model.MotivoCancelamentoId)

    <p class="pull-right">
        <input type="submit" value="Apagar" class="btn btn-large btn-danger" />
    </p>

    <p class="pull-left">
        @Html.ActionLink("Voltar", "Index")
    </p>
}


