@model IEnumerable<Models.MotivoCancelamento>


@{
    ViewBag.Title = "Motivos de Cancelamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}


@section Breadcrumb{

}




@Html.ActionLink("+ Criar", "Criar", new { id = 0 }, new { @class = "btn btn-primary" })


<table class="table table-bordered table-striped table-highlight">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.RegDtInicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr class="info">
                <td colspan="20"><small class="muted">Nenhum registro localizado</small></td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MotivoCancelamentoId</td>
                <td width="100%">
                    @item.MotivoCancelamentoNome
                </td>
                <td nowrap>
                    @item.RegDtInicio
                </td>
                <td nowrap>
                    <a href="~/MotivosCancelamentos/Criar/@item.MotivoCancelamentoId" class="btn btn-mini"><i class="fa fa-pencil"></i>Alterar</a> | 
                    <a href="~/MotivosCancelamentos/Deletar/@item.MotivoCancelamentoId" class="btn btn-mini"><i class="fa fa-times"></i>Excluir</a>
                </td>
            </tr>
        }

    </tbody>
</table>




@{
    //Controles de paginação
    int qtdPaginas = Convert.ToInt16(ViewBag.qtdPaginas);   
}
@Html.Paginacao(qtdPaginas)
