@model IEnumerable<Models.Projeto>


@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = new Bll.Usuarios();

    var dadosUser = user.Carregar(Bll.Usuarios.GetUsuarioId());

    var bllMedicoes = new Bll.Medicoes();
    var bllMedicoesRelatorios = new Bll.MedicoesRelatorios();
    var bllProjetos = new Bll.Projetos();
    var medicoes = bllMedicoes.ListarMedicoesNaoAssinadas(1, null, null, null).Where(m => m.MotivoCancelamentoId == null);

    var medicoesRelatorios = bllMedicoesRelatorios.ListarMedicoesRelatoriosNaoAssinadas(1, null, null, null).Where(m => m.MotivoCancelamentoId == null);

    if (dadosUser.UsuarioFiscal)
    {
        medicoes = from medicao in medicoes
                   where medicao.FiscalId == 0
                   select medicao;
    }

    var boletinsNaoPreenchidosDia = bllProjetos.ListarProjetosSemBoletimDiarioDia(1, null, null, null);


    var listaProjetos = bllProjetos.ListarProjetosEmExecucao(null, null, null, null);

    if (listaProjetos==null)
    {
        listaProjetos = new List<Models.Projeto>();
    }
    
    var listaProjetosFiltrado = from projeto in listaProjetos
                                where projeto.AlertaFaturamento == true || projeto.AlertaMedicao == true
                                select projeto;
    
}


@section Breadcrumb{

}





<div class="row-fluid">
    <!--Boletins que não foram assinados-->
    <div class="span6">
        <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#widget-tabs2" data-toggle="collapse" class="accordion-toggle in">
                        <i class="fa fa-file-text "></i> <span class="divider-vertical"></span>Obras que não foram preenchidos Relatórios Diários <i class="icon-chevron-down  pull-right"></i>
                    </a>
                </div>
                <div class="accordion-body collapse in" id="widget-tabs2">
                    <div class="accordion-inner">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Dt. Conclusão</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in boletinsNaoPreenchidosDia)
                                {
                                    <tr>
                                        <td>@item.ProjetoId</td>
                                        <td>@item.ProjetoNome</td>
                                        <td>@item.ProjetoDtFim.ToShortDateString()</td>
                                        <td>
                                            <a data-toggle="tooltip" data-placement="top" title="Criar Relatório Diário" href="~/Medicoes/Criar/0?ProjetoId=@item.ProjetoId" class="btn btn-small"><i class="fa fa-plus"></i> <i class="fa fa-calculator"></i></a>
                                            
                                        </td>
                                    </tr> 
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4"><a href="~/Principal/ObrasSemBoletimDiario" class="pull-right">Visualizar todos</a></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Boletins que não foram assinados no dia-->
    <div class="span6">
        <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#widget-tabs1" data-toggle="collapse" class="accordion-toggle in">
                        <i class="fa fa-calculator "></i> <span class="divider-vertical"></span>Relatórios Diários Não Assinados <i class="icon-chevron-down  pull-right"></i>
                    </a>
                </div>
                <div class="accordion-body collapse in" id="widget-tabs1">
                    <div class="accordion-inner">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Projeto</th>
                                    <th>#</th>
                                    <th>BE</th>
                                    <th>Medição</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in medicoes)
                                {
                                    <tr class="@(item.MotivoCancelamentoId != null ? " muted error disabled " : "")">
                                        <td>@item.ProjetoNome</td>
                                        <td>@item.Contador</td>
                                        <td>@item.EquipamentoNome</td>
                                        <td>@Convert.ToDateTime(item.EquipamentoDtEntrada).ToShortDateString()</td>
                                        <td><a data-toggle="tooltip" data-placement="top" title="Assinar" class="btn btn-small " href="~/Medicoes/Assinar/@item.MedicaoId?ProjetoId=@item.ProjetoId">
                                            <i class="icon-share-alt"></i>
                                        </a>
                                        </td>
                                    </tr>    
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5"><a href="~/Principal/Medicoes" class="pull-right">Visualizar todos</a></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
    
<div class="row-fluid">
    <!--Alertar-->
    <div class="span6">
        <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#widget-tabs3" data-toggle="collapse" class="accordion-toggle in">
                        <i class="icon-bullhorn "></i> <span class="divider-vertical"></span>Alertas <i class="icon-chevron-down  pull-right"></i>
                    </a>
                </div>
                <div class="accordion-body collapse in" id="widget-tabs3">
                    <div class="accordion-inner">
                        <table class="table table-striped">
                           @if (listaProjetosFiltrado.Count() > 0)
                           {
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Faturar</th>
                                    <th>Realizar Medição</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listaProjetosFiltrado)
                                {
                                    <tr>
                                        <td>@item.ProjetoId</td>
                                        <td>@item.ProjetoNome</td>
                                        <td><i class="@(item.AlertaFaturamento == true ? "fa fa-exclamation-triangle" : "")"></i></td>
                                        <td><i class="@(item.AlertaMedicao == true ? "fa fa-exclamation-triangle" : "")"></i></td>
                                        <td>
                                            <a href="~/Projetos/Criar/@item.ProjetoId" class="btn btn-small"><i class="fa fa-pencil-square-o"></i></a> <a href="~/Medicoes/Index/@item.ProjetoId" class="btn btn-small"><i class="fa fa-calculator"></i></a> <a href="~/Projetos/Ocorrencias/@item.ProjetoId" class="btn btn-small"><i class="fa fa-comment"></i></a>
                                            
                                        </td>
                                    </tr> 
                                }

                            </tbody>   
                           }
                           else
                           {
                               <thead><tr><th>Nenhum alerta</th></tr></thead>
                           }
                            
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Relatorios Medicao que não foram assinados no dia-->
    <div class="span6">
        <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#widget-tabs4" data-toggle="collapse" class="accordion-toggle in">
                        <i class="fa fa-bar-chart"></i> <span class="divider-vertical"></span>Relatórios Medição Não Assinados <i class="icon-chevron-down  pull-right"></i>
                    </a>
                </div>
                <div class="accordion-body collapse in" id="widget-tabs4">
                    <div class="accordion-inner">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Projeto</th>
                                    <th>#</th>
                                    <th>Período</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in medicoesRelatorios)
                                {
                                    <tr class="@(item.MotivoCancelamentoId != null ? " muted error disabled " : "")">
                                        <td>@item.ProjetoNome</td>
                                        <td>@item.MedicaoRelatorioId</td>
                                        <td>@Convert.ToDateTime(item.MedicaoDtDe).ToShortDateString() até @Convert.ToDateTime(item.MedicaoDtAte).ToShortDateString()</td>
                                        <td><a data-toggle="tooltip" data-placement="top" title="Assinar" class="btn btn-small " href="~/MedicoesRelatorios/Assinar/@item.MedicaoRelatorioId?ProjetoId=@item.ProjetoId">
                                            <i class="icon-share-alt"></i>
                                        </a>
                                        </td>
                                    </tr>    
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5"><a href="~/Principal/MedicoesRelatorios" class="pull-right">Visualizar todos</a></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br />
<div class="row-fluid">
    <!--Projetos-->
    <div class="span12">
        <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#widget-tabs5" data-toggle="collapse" class="accordion-toggle in">
                        <i class="fa fa-file-text"></i> <span class="divider-vertical"></span>Obras em Andamento <i class="icon-chevron-down  pull-right"></i>
                    </a>
                </div>
                <div class="accordion-body collapse in" id="widget-tabs5">
                    <div class="accordion-inner">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Dt. Conclusão</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ProjetoId</td>
                                        <td>@item.ProjetoNome</td>
                                        <td>@item.ProjetoDtFim.ToShortDateString()</td>
                                        <td>
                                            <a data-toggle="tooltip" data-placement="top" title="Editar" href="~/Projetos/Criar/@item.ProjetoId" class="btn btn-small"><i class="fa fa-pencil-square-o"></i></a> <a data-toggle="tooltip" data-placement="top" title="Relatórios Diários" href="~/Medicoes/Index/@item.ProjetoId" class="btn btn-small"><i class="fa fa-calculator"></i></a> <a data-toggle="tooltip" data-placement="top" title="Relatórios Medição" href="~/MedicoesRelatorios/Index/@item.ProjetoId" class="btn btn-small"><i class="fa fa-bar-chart"></i></a> <a data-toggle="tooltip" data-placement="top" title="Ocorrências" href="~/Projetos/Ocorrencias/@item.ProjetoId" class="btn btn-small"><i class="fa fa-comment"></i></a>
                                            
                                        </td>
                                    </tr> 
                                }

                            </tbody>
                        </table>
                        @Html.Paginacao((int)ViewBag.qtdPaginas)
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


