@model Models.UsuarioFuncao

@{
    ViewBag.Title = "Exclu&iacute;ndo Fun&ccedil;&otilde;es";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Breadcrumb{

    <li class="active"><span class="divider">/</span>    @Html.ActionLink("Fun&ccedil;&otilde;es", "Index")</li>
}


<div class="alert">
    
    <h2>Aten&ccedil;&atilde;o!</h2>
    Voc&ecirc; tem certeza que deseja apagar esse registro?
</div>

<table class="table table-bordered table-striped table-highlight">
    <thead>
        <tr>

            <th>Nome
            </th>

            

            <th nowrap>Criado em
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.UsuarioFuncaoNome)</td>

          

            <td>@Html.DisplayFor(model => model.RegDtInicio)  </td>
        </tr>



    </tbody>
</table>



@using (Html.BeginForm())
{
    
    @Html.HiddenFor(model => model.UsuarioFuncaoId)

    <p class="pull-right">
        <input type="submit" value="Apagar" class="btn btn-large btn-danger" />
    </p>

    <p class="pull-left">
        @Html.ActionLink("Voltar", "Index")
    </p>
}


