@model Models.Pessoa

@{
    var vtipo = (string)Model.PessoaCategoria;
    var vname = "";
    var vlista = "";
    switch (vtipo)
    {
        case "C":
            vname = BLL.Usuarios.GetEntidadeCliente();
            break;
        case "F":
            vname = BLL.Usuarios.GetEntidadeFornecedor();

            break;

        default:
            vname = "Indefinido";

            break;
    }
    
    
    
}


@{
    ViewBag.Title = "Excluir " + vname;
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";  
}




@section Breadcrumb{
    <li class="active"><span class="divider">/</span>  @Html.ActionLink(vname, "Index", new { id = 0, tipo = vtipo })</li>
}


<div class="content ">
    <div class="row">
        <div class="col-md-12" style="">
            <div class="alert alert-warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong>Atenção</strong> Você tem certeza que deseja apagar esse registro?
            </div>

            <div class="hpanel">
                <div class="panel-body">
                    <!-- conteudo aqui -->
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.PessoaID)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.PessoaID)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Nome)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Nome)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Documento)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Documento)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.DataNascimento)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.DataNascimento)
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Email)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Telefone)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Telefone)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Celular)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Celular)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Observacao)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Observacao)
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Cep)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Cep)
                            </div>
                        </div>
                        <div class="span9">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Endereco) / @Html.DisplayNameFor(model => model.Numero)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Endereco), @Html.DisplayFor(model => model.Numero)
                            </div>
                        </div>


                    </div>
                    <br />
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="col-lg-3 col-md-3 col-ms-3">
                                <div class="display-label">
                                    @Html.DisplayNameFor(model => model.Complemento)
                                </div>
                                <div class="display-field">
                                    @Html.DisplayFor(model => model.Complemento)
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Bairro)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Bairro)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Cidade)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Cidade)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-ms-3">
                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Estado)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Estado)
                            </div>
                        </div>
                    </div>
                    <!-- ./conteudo aqui -->
                </div>
                <div class="panel-footer">

                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.HiddenFor(model => model.PessoaID)
                                @Html.HiddenFor(model => model.PessoaCategoria)
                                <input type="submit" value="Apagar" class="btn btn-danger pull-right" />

                                @Html.ActionLink("Voltar", "Index", new { @class = "btn btn-outline btn-primary " })


                            </div>
                        </div>    
                    }

                </div>
            </div>

        </div>
    </div>
</div>












