@model Models.Galeria


@{
    
    var pathFileman = "/Assets/plugins/fileman/index.html";

    var acao = "Cadastrar";
    if (Model.GaleriaId > 0)
    {
        acao = "Alterar";
    }


    ViewBag.Title = acao + " Galeria";
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";

    
}



@section Breadcrumb{
    <li>@Html.ActionLink("Configurações", "Configuracoes", "Principal")</li>
}



<div class="content ">
    <div class="row">
        <div class="col-md-12" style="">

            <div class="hpanel">

                <div class="panel-body">
                    <!-- conteudo aqui -->
                    <div class="col-lg-12" style="">

                        @using (Html.BeginForm("Criar", "Galerias", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary(true)

                            if (Model.GaleriaId > 0)
                            {
                            @Html.HiddenFor(m => m.GaleriaId);
                                                             acao = "Alterar";
                            }
    
    @Html.HiddenFor(m=>m.GaleriaGuid)
       
                            <div class="row">

                                <div class="form-group col-lg-12">
                                    <label>Nome Galeria</label>
                                    @Html.TextBoxFor(model => model.GaleriaNome, new { @class = " form-control " })
                                </div>

                                <div class="form-group col-lg-12">
                                    <label>Tipo de Acesso</label>
                                    @Html.DropDownListFor(model => model.GaleriaAcessoTipoId, (SelectList)ViewBag.ddlGaleriasAcessosTipos, new { @class = "chosen-select form-control " })
                                </div>



                                <div class="form-group col-lg-12">
                                    <label>@BLL.Usuarios.GetEntidadeFilial()</label>
                                    @Html.ListBoxFor(model => model.aGaleriaFiliaisIds, (SelectList)ViewBag.ddlFiliais, new { @class = "chosen-select form-control ", @data_placeholder = BLL.Usuarios.GetEntidadeFilial() + " com acesso", multiple = "multiple" })
                                </div>



                            </div>                  
            
                            <div class="row" id="div_AcessoTipo">

                                <div class="form-group col-lg-12">
                                    <label>Que usuários do Backoffice pode acessar?</label>
                                    @Html.ListBoxFor(model => model.aGaleriaPerfisIds, (SelectList)ViewBag.ddlPerfis, new { @class = "chosen-select form-control ", @data_placeholder = "Selecione os perfis com acesso", multiple = "multiple" })
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="submit" value="Salvar" class="btn btn-primary btn-large" tabindex="11" />
                                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-outline btn-primary " })
                                </div>

                            </div>
            
                        }
                    </div>
                    <!-- ./conteudo aqui -->
                </div>

            </div>
        </div>
    </div>
</div>







@section Styles{
    @Styles.Render("~/bundles/select2/css")

}




@section Scripts {

    @Scripts.Render("~/bundles/select2/js")

    <script>
        $(document).ready(function () {
            select = $("#GaleriaPerfisIds");
            select.trigger('chosen:updated');

            selectb = $("#GaleriaFiliaisIds");
            selectb.trigger('chosen:updated');


            $('.chosen-select').select2();
        });


        $('#GaleriaAcessoTipoId').on('change', function () {
            var id = $(this).val();
        });


    </script>
    <script>
        $('#GaleriaAcessoTipoId').change(function () {
            verificaTipo($(this).val());
        });

        verificaTipo($("#GaleriaAcessoTipoId").val);

        function verificaTipo(id) {
            if (id == 2) {
                $("#div_AcessoTipo").slideUp();
            } else {
                $("#div_AcessoTipo").slideDown();
            }
        }

    </script>
}
