@model Models.MetaView

@{
    ViewBag.Title = "Metas";

    if (Model.Meta.Modal)
    {
        Layout = "~/Views/Shared/_FortunaLayoutModal.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_FortunaLayout.cshtml";    
    }
    

    var listaEventosGroup = Model.ListMetas.Items
       .GroupBy(u => u.PerfilId)
       .Select(grp => grp.ToList())
       .ToList();

    var bll = new BLL.EntidadesStatus();
    var listaTodos = bll.Listar("PRCPropostas", 0);


    var outrasOpcoes = "&tipo=" + Request["tipo"] + "&UsuarioId=" + Request["UsuarioId"] + "&Modal=" + Request["Modal"] + "";
       
}



@section Breadcrumb{

    <li class="active">@Html.ActionLink("Configurações", "Configuracoes", "Principal")</li>
    <li class="active">@Html.ActionLink("Entidades", "Entidades", new { id = 0, tipo= Model.Meta.Entidade })</li>


}



<div class="content ">
    <div class="row">
        <div class="col-md-12" style="">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class=" p-xs font-normal">
                        <div class="row">
                            <div class="col-lg-6">
                                @Html.ActionLink("+ Criar", "Criar", new { id = 0, tipo=Model.Meta.Entidade, UsuarioId=Model.Meta.UsuarioId, Modal=Model.Meta.Modal }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="col-lg-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- tirei daqui-->
 
                    <div class="table-responsive">

                        @foreach (var itemgroup in listaEventosGroup)
                        {
                            
                            
                            <table cellpadding="1" cellspacing="1" class="table" id="table_produtos">
                            <caption>
                                            <h3 class="text-center">@itemgroup.FirstOrDefault().PerfilNome</h3>
                                        </caption>
                            <thead>
                                <tr style="font-size: 12px;">
                                    <th>
                                        Meta
                                    </th>
                                    <th>Status</th>
                                    <th>Periodicidade</th>
                                    <th data-hide="phone,tablet">Alterar / Excluir</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.ListMetas.Items.Where(x => x.PerfilId == itemgroup.FirstOrDefault().PerfilId))
                                {

                                    var listaFilter = new List<Models.EntidadeStatus>();
                                    if (item.StatusMultiIds != "" && item.StatusMultiIds != null)
                                    {
                                        var statusHabilitados = item.StatusMultiIds.Split(',').Select(int.Parse).ToList();

                                        //monta a lista filtrada
                                        listaFilter = listaTodos.Where(r => statusHabilitados.Contains(r.EntidadeStatusId)).ToList();
                                    }
                                    
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MetaNome)
                                        </td>
                                        <td>
                                            @if (listaFilter.Count() > 0)
                                                        {
                                                        <label>Status associados</label>
                                                        <ul>
                                                            @foreach (var st in listaFilter)
                                                            {
                                                                <li>@st.StatusNome</li>
                                                            }
                                                        </ul>    
                                                        }
                                                        else
                                                        {
                                                            <strong class="text-danger">Nenhum status associado</strong>
                                                        }
                                        </td>
                                        <td>@Html.GetLegendaPeriodicidade(item.PeriodicidadeTipo)<br /> Qtd.: @item.PeriodicidadeValor / Volume: R$ @string.Format("{0:F2}", item.MetaVolume)</td>
                                        
                                        <td nowrap data-hide="phone,tablet" style="display: table-cell">

                                            @Html.ActionLink("Alterar", "Criar", new { id = item.MetaId, tipo=Model.Meta.Entidade, UsuarioId=item.UsuarioId, Modal=Model.Meta.Modal }, new { @class = "btn btn-outline btn-primary btn-xs" })&nbsp;
                                    @Html.ActionLink("Excluir", "Deletar", new { id = item.MetaId, tipo=Model.Meta.Entidade , UsuarioId=item.UsuarioId, Modal=Model.Meta.Modal}, new { @class = "btn btn-outline btn-danger btn-xs" })
                                        </td>
                                    </tr>
                                }

                            </tbody>



                        </table>
                            <hr />
                            
                            
                            
                            
                        }

                        


                    </div>

                    @Html.FortunaPaginacao(Convert.ToInt16(Model.ListMetas.TotalPages),outrasOpcoes)


                    <!-- ./tirei daqui-->
                </div>
            </div>
        </div>
    </div>
</div>
