@model Models.ContratoView


@{
    

    
    var acao = "Cadastrar";
    if (Model.Contrato.ContratoId > 0)
    {
        acao = "Alterar";
    }


    ViewBag.Title = acao + " Contrato";

    if (Model.Contrato.Modal)
    {
        Layout = "~/Views/Shared/_FortunaLayoutModal.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_FortunaLayout.cshtml";
    }

   
    
}





@section Breadcrumb{
    <li class="active">@Html.ActionLink("Contratos", "Index", new { id = 0 })</li>
}



<div class="content ">
    
    <div class="row">
        <div class="col-lg-12">
                <div class="hpanel">
                    @Html.Partial("~/Views/Contratos/_tabs.cshtml", Model)
                    <div class="panel-body">
                        @Html.Partial("~/Views/Contratos/_resumo.cshtml", Model)
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        @Html.CubeeStatus("Contratos", Model.Contrato.ContratoId, "chosen-select form-control", BLL.Usuarios.GetUsuarioId(), true)
                    </div>
                </div>
            </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/fancybox/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/mask/js")
    

}
