@model Models.ProdutoUnidade

@{
    ViewBag.Title = "Excluíndo Unidade de Medida de Produtos";
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";  
}


@section Breadcrumb{
    <li class="active"><span class="divider">/</span> @Html.ActionLink("Produtos", "Produtos", "Principal")</li>
    
 <li class="active"><span class="divider">/</span>   @Html.ActionLink("Unidade de Medida de Produtos", "Index", new { id = 0 })</li>
}




<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h2>Atencão!</h2>
    Você tem certeza que deseja apagar esse registro?
</div>




<div class="cwell">
        <fieldset>

            <legend>Unidade de Medida de Produtos</legend>
            <div class="row-fluid">

                <div class="span3">
                    <div class="display-label">

                        @Html.DisplayNameFor(model => model.ProdutoUnidadeNome)



                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ProdutoUnidadeNome)
                    </div>

                </div>


                
            </div>


        </fieldset>
        <br />

        @using (Html.BeginForm())
        {
            <div class="row-fluid">
                <div class="span12">
                    @Html.HiddenFor(model => model.ProdutoUnidadeId)
                    <p class="pull-right">
                        <input type="submit" value="Apagar" class="btn btn-large btn-danger" />
                    </p>

                    <p class="pull-left">
                        @Html.ActionLink("Voltar", "Index")
                    </p>
                </div>
            </div>    
        }



    </div>
