@model Models.AutenticationModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FortunaHome.cshtml";

    var _copyright = BLL.Utils.Funcoes.GetWebConfigKey("copyright");

    // Get host name
    String strHostName = Dns.GetHostName();

    // Find host by name
    var iphostentry = Dns.GetHostByName(strHostName);
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">

               

                <h3>Lembrar sua senha</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                     @if (ViewBag.EmpresaId != null)
                {
                    <h1 class="text-center">
                        <img src="@VirtualPathUtility.ToAbsolute("~/Assets/img/logotipos/" + ViewBag.EmpresaId + ".png")" /></h1>
                
                }

                    @using (Html.BeginForm("LembrarSenha", "Associados", FormMethod.Post, new { @id = "loginForm" }))
                    {
                        @Html.Hidden("EmpresaRoute", (string)ViewBag.EmpresaRoute);
                    
                        
                        <div class="form-group">
                            <label class="control-label" for="username">E-Mail, CPF ou Código</label>
                            @Html.TextBoxFor(model => model.LoginOrEmail, null, new { @class = "form-control", placeholder = "Email de cadastro, CPF ou código", required = "Preenhca o campo", autofocus = "" })
                        </div>
                            
                        <button type="submit" class="btn btn-success btn-block">Lembrar</button>
                        <br />
                        <span><a href="@Url.Content("~/Associados/Index/"+Model.EmpresaRoute+"/?email=" + Model.LoginOrEmail)">Voltar</a></span> 
                    }
                </div>
            </div>


        </div>

        @*<div class="row">
    <div class="span12">

        <ul>
            @foreach (var item in iphostentry.AddressList)
            {
                <li>@item.MapToIPv4()</li>
            }
        </ul>
        
    </div>
</div>*@

    </div>
    <div class="row">
        <div class="col-md-12 text-center">

            @if (_copyright == "" || _copyright == "true")
            {
                <span><strong>Fortuna</strong> - Gestor do seu negócio<br />
                    2017 Copyright |  E-Bee</span>
            }


        </div>
    </div>
</div>
