@model Models.PessoaEndereco

@{
    
    ViewBag.Title = "Excluir Dependente";


    Layout = "~/Views/Shared/_FortunaLayoutModal.cshtml";


}



<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong>Atenção</strong> Você tem certeza que deseja apagar esse registro?
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel ">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Cadastro de Contatos
                </div>
                <div class="panel-body">
                    <!-- dados aqui-->


                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <label>CPF Responsável</label>
                            @Model.Pessoa.Documento
                        </div>



                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <label>Responsável Nome</label><br />
                            @Model.Pessoa.Nome
                        </div>

                    </div>

                    <br />
                    @using (Html.BeginForm("Deletar", "PessoasEnderecos", FormMethod.Post))
                    {
                        
                        @Html.HiddenFor(m => m.PessoaID)

                        @Html.HiddenFor(m => m.PessoaEnderecoId);
                        
                            

        
                        <div class="row">

                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label>Endereço</label><br />
                                @Model.PessoaEnderecoEndereco @Model.PessoaEnderecoNumero @Model.PessoaEnderecoComplemento<br />
                                @Model.PessoaEnderecoBairro @Model.PessoaEnderecoCep
                            </div>

                            
                           



                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-outline btn-danger">Excluir</button>
                                <a href="@Url.Content("~/PessoasEnderecos/Index/" + Model.PessoaID)" class="btn btn-outline btn-primary ">Voltar</a>
                            </div>
                        </div>
                    }

                    <!-- ./ dados aqui-->
                </div>

            </div>
        </div>
    </div>
</div>





@section Styles{
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/fancybox/css")
    @Styles.Render("~/bundles/datepicker/css")
}



@section Scripts {
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/fancybox/js")
    @Scripts.Render("~/bundles/clipboard/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/mask/js")
    @Scripts.Render("~/bundles/maxlenght/js")


    <script>
        $(document).ready(function () {
            $("#MedGuia_TotalProdutosCusto").focus();
        });

        $('.max').maxlength();


        $(document).ready(function () {

            $(".fancybox").fancybox({ fitToView: false, width: '80%', autoSize: true });
            $(".fancybox_full").fancybox({
                fitToView: false,
                width: '100%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-select').select2();
            $('.datepicker').datepicker({ language: 'pt-BR', format: 'dd/mm/yyyy', todayHighlight: true, todayBtn: true });
            $('.moeda').mask('000000000000000,00', { reverse: true });
        });
    </script>
}

