@model Models.ProdutoEstoque

@{
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";  
    ViewBag.Title = "Estoque";
}


@section Breadcrumb{
    <li class="active"><span class="divider">/</span> @Html.ActionLink("Produtos", "Index", "Produtos", null, new { @id = 0 })</li>
}


<div class="cwell">

    <ul class="nav nav-tabs">
        <li>
            <a href="~/Produtos/Criar/@Model.Produto.ProdutoId">Dados do Produto</a>
        </li>

        <li class="active"><a href="~/ProdutosEstoque/Criar/@Model.ProdutoId">Estoque (@Model.Produto.EstoqueAtual)</a></li>

    </ul>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        
        @Html.Hidden("ProdutoId", Model.Produto.ProdutoId);
        
        <legend>Dados básicos</legend>
        <div class="row-fluid">
            <div class="span3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Produto.ProdutoCodigo)
                </div>
                <div class="editor-field">
                    @Model.Produto.ProdutoCodigo
                </div>
            </div>
            <div class="span9">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Produto.ProdutoNome)
                </div>
                <div class="editor-field">
                    @Model.Produto.ProdutoNome

                </div>
            </div>
            
        </div>
      
        <div class="row-fluid">
            <div class="span3">
                <div class="editor-label">
                    <label>Posição Atual</label>
                </div>
                <div class="editor-field">
                    @Model.Produto.EstoqueAtual
                </div>
            </div>
            <div class="span3">
                <div class="editor-label">
                    <label>Estoque Mínimo</label>
                </div>
                <div class="editor-field">
                    @Model.Produto.EstoqueMin
                </div>
            </div>
            <div class="span3">
                <div class="editor-label">
                    <label>Estoque Máximo</label>
                </div>
                <div class="editor-field">
                    @Model.Produto.EstoqueMax
                </div>
            </div>
        </div>
        
        <legend>Estoque</legend>
        
        <div class="row-fluid">
            <div class="span3">
                <div class="editor-label">
                    <label>Tipo movimento</label>
                </div>
                <div class="editor-field">
                    <select class="chosen-select" id="TipoMovimento" name="TipoMovimento">
                        <option value="E">E - Entrada</option>
                        <option value="S">S - Saída</option>
                    </select>
                </div>
            </div>
            <div class="span3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Quantidade)
                </div>
                <div class="editor-field">
                    @Html.TextBox("Quantidade", Model.Quantidade, new { @class = "number input-mini" })
                    @Html.ValidationMessageFor(model => model.Quantidade)
                </div>
            </div>
            <div class="span3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ValorUnitario)
                </div>
                <div class="editor-field">
                    @Html.TextBox("ValorUnitario", string.Format("{0:n2}", Model.ValorUnitario), new { @class = "money input-mini" })

                    @Html.ValidationMessageFor(model => model.ValorUnitario)
                </div>
            </div>
            <div class="span3">
                <label>Valor Total</label>
                <div class="editor-field">
                    <label id="ValorTotal">0,00</label>
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span3">
                <div class="editor-label">
                    <label>@BLL.Usuarios.GetEntidadeFornecedor()</label>
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.PessoaFornecedorId, (SelectList)ViewBag.DdlFornecedor, "--Nenhuma--", new { @class = "chosen-select" })
                    @Html.ValidationMessageFor(model => model.PessoaFornecedorId)
                </div>
            </div>
            <div class="span3">

                <div class="editor-label">
                    @Html.LabelFor(model => model.DataMovimento)
                </div>
                <div class="editor-field">
                    @Html.TextBox("DataMovimento", @String.Format("{0:dd/MM/yyyy}", Model.DataMovimento), new { @class = "datepicker input-small", @value = DateTime.Now })
                    @Html.ValidationMessageFor(model => model.DataMovimento)
                </div>



            </div>
            <div class="span6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Documento)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Documento, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Documento)
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12">



                <div class="editor-label">
                    @Html.LabelFor(model => model.Observacao)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Observacao, new { @class = "span12" })
                    @Html.ValidationMessageFor(model => model.Observacao)
                </div>
            </div>
        </div>
        
         
        <div class="form-actions">

            <input type="submit" value="Cadastrar" class="btn btn-primary  btn-large" />

        </div>
    }

    <legend>Histórico de Movimentação</legend>
    <a href="@Url.Content("~/ProdutosEstoque/Index/" + Model.Produto.ProdutoId)?lightbox[iframe]=true&lightbox[width]=770&lightbox[height]=460" class="ui-lightbox"><i class="fa fa-search-plus"></i>Visualizar histórico completo</a>
    <table class="table table-bordered table-striped table-highlight table-hover table-condensed ">
        <thead>
            <tr>
                <th>
                    <label>Data do Movimento</label>
                </th>
                <th>
                    <label>Tipo de Movimento</label>
                </th>
                <th>
                    <label>Origem</label>
                </th>
                <th>
                    <label>Quantidade</label>
                </th>
                <th>
                    <label>Valor Unitário</label>
                </th>
                <th>
                    <label>Valor Total</label>
                </th>
            </tr>
        </thead>

        @foreach (var item in Model.LProdutoEstoque)
        {
            <tbody>
                <tr class="@(item.TipoMovimento == "S" ? " text-error " : "")">
                    <td>
                        @Html.DisplayFor(modelItem => item.DataMovimento)
                    </td>

                    <td>
                        @(item.TipoMovimento == "S" ? "Saída" : "Entrada")
                    </td>
                    <td>@item.PessoaFornecedorNome</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValorUnitario)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>

                </tr>
            </tbody>
        }

    </table>

    <div>
        <a href="~/Produtos/Criar/@Model.Produto.ProdutoId">Voltar</a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script src="~/Content/themes/base/js/plugins/lightbox/jquery.lightbox.min.js"></script>
    <script src="~/Content/themes/base/js/Application.js"></script>

    <script>
        $('#Quantidade').keyup(calculate);
        $('#ValorUnitario').keyup(calculate);

        function calculate(e) {
            var Quantidade = $('#Quantidade').val();
            var ValorUnitario = $('#ValorUnitario').val();
            ValorUnitario = ValorUnitario.replace(".", "");
            ValorUnitario = ValorUnitario.replace(",", ".");
            var maths = Quantidade * ValorUnitario;
            maths = maths.toFixed(2);
            $('label#ValorTotal').text(maths);
        }
    </script>

}


