@model Models.MedicaoTipo

@{
    
    
    var acao = "Cadastrar";
    if (Model.MedicaoTipoId > 0)
    {
        acao = "Alterar";
    }



    ViewBag.Title = acao + " " + "Medição Tipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    
        <li class="active"><span class="divider">/</span>    @Html.ActionLink("Medição Tipos", "Index")</li>
    
}




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    if (Model.MedicaoTipoId > 0)
    {
    @Html.Hidden("MedicaoTipoId", Model.MedicaoTipoId);
    }
    <legend>Dados do MedicaoTipo</legend>
    
    <div class="row-fluid">
        <div class="span6">
            <div class="editor-label">
                @Html.LabelFor(model => model.MedicaoTipoNome)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MedicaoTipoNome, new { @class = "span12" })
                @*@Html.ValidationMessageFor(model => model.MedicaoTipoNome)*@
            </div>
        </div>

    </div>
    
    
    
    
    <div class="form-actions">
        <input type="submit" value="@acao" class="btn btn-primary  btn-large"  TabIndex=10 />
    </div>
}




<div>
    @Html.ActionLink("Voltar", "Index")
</div>


@section Scripts {



}
