@model Models.MedicaoTipo

@{
    ViewBag.Title = "Excluíndo Medição Tipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Breadcrumb{

    <li class="active"><span class="divider">/</span>    @Html.ActionLink("Medição Tipos", "Index")</li>
}


<div class="alert">

    <h2>Atencão!</h2>
    Você tem certeza que deseja apagar esse registro?
</div>

<table class="table table-bordered table-striped table-highlight">
    <thead>
        <tr>

            <th>Nome
            </th>



            <th nowrap>Criado em
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.MedicaoTipoNome)</td>
            <td nowrap>
                @Model.RegDtInicio
            </td>
        </tr>
    </tbody>
</table>



@using (Html.BeginForm())
{
    
    @Html.HiddenFor(model => model.MedicaoTipoId)

    <p class="pull-right">
        <input type="submit" value="Apagar" class="btn btn-large btn-danger" />
    </p>

    <p class="pull-left">
        @Html.ActionLink("Voltar", "Index")
    </p>
}


