@model Models.PessoaPlanoGrupoView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FortunaHome.cshtml";

    var _copyright = BLL.Utils.Funcoes.GetWebConfigKey("copyright");

   
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">



                <h3>@Model.Campanha.CampanhaNome</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @if (Model.EmpresaId != null)
                    {
                        <h1 class="text-center">
                            <img src="@VirtualPathUtility.ToAbsolute("~/Assets/img/logotipos/" + Model.EmpresaId + ".png")" /></h1>
                
                    }

                    @using (Html.BeginForm("Index", "Eventosv2", FormMethod.Post, new { @id = "loginForm" }))
                    {
                        @Html.HiddenFor(x => x.EmpresaId)
                        @Html.HiddenFor(x => x.Campanha.CampanhaId)
                        @Html.HiddenFor(x => x.Campanha.CampanhaSlug)
                        
                        <div class="form-group">
                            <label class="control-label" for="username">CNPJ</label>
                            @Html.TextBoxFor(model => model.PessoaDocumento, null, new { @class = "form-control", placeholder = "Informe seu CNPJ", required = "preencha o campo", autofocus = "" })
                        </div>
                            
                        
                        <button type="submit" class="btn btn-success btn-block">Próximo</button>
                        
                    }
                    <br />
                    <a href="@Url.Content("~/Eventos/Index/" + Model.EmpresaId)" class="pull-left">Voltar</a>

                    <br />
                </div>
            </div>


        </div>



    </div>
    <div class="row">
        <div class="col-md-12 text-center">

            @if (_copyright == "" || _copyright == "true")
            {
                <span><strong>Fortuna</strong> - Gestor do seu negócio<br />
                    2017 Copyright |  E-Bee</span>
            }


        </div>
    </div>
</div>


@section Styles{


}


@section Scripts {

    @Scripts.Render("~/bundles/mask/js")


    <script>
        $("#PessoaDocumento").mask("99.999.999/9999-99");
    </script>
}