@model Models.ResetPassword

@{
    ViewBag.Title = "Primeiro Acesso";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var nome = ViewBag.EmpresaId;
}


<div class="container">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="login-form">
                @using (Html.BeginForm("PrimeiroAcesso", "Home", FormMethod.Post, new { @role = "login" }))
                {
                    @Html.Hidden("SecurityStamp", Request["h"]);
                                                              @Html.Hidden("Email", Request["e"]);
                    
                    <img src="@VirtualPathUtility.ToAbsolute("~/Content/images/logotipos/" + nome + ".png")" class="img-responsive" />
                      
                     if (!@Html.ViewData.ModelState.IsValid)
                    {
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="alert alert-error" id="alert-error">
                                <h4>Ooops... alguns erros ocorreram</h4>
                                <br />
                                @Html.ValidationSummary("", new { @class = "unstyled" })
                            </div>
                        </div>
                    </div>
                    }
                    if (TempData["message"] != null)
                    { <div class="row-fluid">
                        <div class="span12">
                            <div class="alert alert-success" id="alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <h4>Sucesso!</h4>
                                @TempData["message"]
                            </div>
                        </div>
                    </div>
                    }
                    if (TempData["error"] != null)
                    { <div class="row-fluid">
                        <div class="span12">
                            <div class="alert alert-danger" id="alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <h4>Atenção!</h4>
                                @TempData["error"]
                            </div>
                        </div>
                    </div>
                    }

                    if (TempData["alert"] != null)
                    { <div class="row-fluid">
                        <div class="span12">
                            <div class="alert alert-block" id="alert-block">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <h4>Atenção!</h4>
                                @TempData["alert"]
                            </div>
                        </div>
                    </div>
                    }
                      <legend>Primeiro Acesso</legend>
                        <h5>Defina sua senha de acesso</h5>
                    @Html.PasswordFor(model => model.UsuarioSenha, new { @class = "form-control input-lg", placeholder = "Sua senha", required = "", autofocus = "" })

                    @Html.PasswordFor(model => model.ConfirmarSenha, new { @class = "form-control input-lg", placeholder = "Confirmar sua senha", required = "", autofocus = "" })
					    
                    <button type="submit" name="go" class="btn btn-primary">Definir</button>
                   

                        
                   

                     <div>
                        <a href="@Url.Content("~/Home/Index")" class="pull-right">Voltar</a>
                    </div>
                    
                }

                <div class="form-links">
                    <a href="http://www.kmov.com.br" target="_blank" class="pull-left">
                        <img src="~/Content/images/logo-footer.png" alt="Grupo Kmov>>" style="max-height: 30px;" title="Grupo Kmov>>" /></a>
                    <a href="http://www.e-bee.com.br" target="_blank" class="pull-right">
                        <img src="~/Content/images/ebee.png" alt="Powered by E-Bee" title="Powered By E-Bee" style="max-height: 30px;" /></a>
                </div>
            </section>
        </div>

        <div class="col-md-4"></div>


    </div>



</div>

