@model Models.PRCPropostaView

@{
    string nome = "Proposta";


    ViewBag.Title = "Proposta n. " + Model.PRCProposta.PRCPropostaId;

    ViewBag.InfoAdicional = "<h3>" + Model.Requerente.Nome + "<small> / " + BLL.Utils.Funcoes.CalculaIdade(Model.Requerente.DataNascimento) + " anos</small></h3>";
    


        Layout = "~/Views/Shared/_FortunaLayout.cshtml";

        var _PrcPropsotas_Find = BLL.Usuarios.VerificaAcesso("Find", "PRCPropostas");

        

    var bllDocumentosArquivos = new BLL.DocumentosArquivos();

    var listaDocumentos = bllDocumentosArquivos.Listar(null, "", "", "", "prcpropostas", Model.PRCProposta.PRCPropostaId);
}


@section Breadcrumb{
    @if (_PrcPropsotas_Find)
    {
        <li>@Html.ActionLink("Propostas", "Find", new { id = 0 })</li>
    }
    else
    {
        <li>@Html.ActionLink("Propostas", "Index", new { id = 0 })</li>    
    }
    <li class="active">Documentos</li>
}




<div class="content ">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                @Html.Partial("~/Views/PRCPropostas/_tabs.cshtml", Model)
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <!-- conteuod aqui -->
                            
                               @Html.Partial("~/Views/PRCPropostas/_ResumoProposta.cshtml", Model)
                            <!-- ./conteudo aqui -->
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    

    <div class="row">
        <div class="col-lg-12"><h4>Documentos</h4></div>
    </div>
    <div class="row">
        <div class="col-lg-3" style="">
            <div class="hpanel">
                <div class="panel-body">
                    <ul class="h-list m-t">
                        <li class="active"><a href="@Url.Content("~/DocumentosArquivos/Index/" + Model.PRCProposta.PRCPropostaId + "/prcpropostas/")" class="fancybox_recarrega fancybox.iframe"><i class="fa fa-folder"></i>Documentos</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-lg-9" style="">
            @Html.Partial("~/Views/DocumentosArquivos/_ListDocumentos.cshtml", listaDocumentos)
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12"><h4>Anexos</h4></div>
    </div>
    
    @Html.CubeeAnexos("Pessoas", Model.Requerente.PessoaID, BLL.Configuracoes.CarregarPorEmpresaIdBD("prcpropostas.documentos.padrao", Model.PRCProposta.EmpresaId), "form-control", true, true, true, true, false, BLL.Configuracoes.CarregarPorEmpresaIdBD("prcpropostas.documentos.obrigatorio", Model.PRCProposta.EmpresaId), Model.PRCProposta.EmpresaId)







</div>

@section Styles{
    @Styles.Render("~/bundles/fancybox/css")
    @Styles.Render("~/bundles/select2/css")
}





@section Scripts {

    @Scripts.Render("~/bundles/fancybox/js")
    @Scripts.Render("~/bundles/select2/js")

    <script type="text/javascript">


        $(document).ready(function () {
            $('.chosen-select').select2();
            $(".fancybox").fancybox({
                fitToView: false,
                width: '80%',
                autoSize: false
            });
            $(".fancybox_recarrega").fancybox({
                fitToView: false,
                width: '80%',
                autoSize: false,
                beforeClose: function () {
                    RecarregaPagina();
                },
            });
            $(".fancybox_full").fancybox({
                fitToView: false,
                width: '100%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });



        function RecarregaPagina() {
            window.location.reload(true);
        }

    </script>



}

