@model IEnumerable<Models.PRCProposta>

@{
    ViewBag.Title = "Propostas em Triagem";
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";

   // String strPathAndQuery = HttpContext.Current.Request.Url.PathAndQuery;
   // String strUrl = HttpContext.Current.Request.Url.AbsoluteUri.Replace(strPathAndQuery, "/");
   // strUrl = strUrl + "PRCPropostas/Index";

   // ViewBag.SearchAction = strUrl;
   // ViewBag.SearchPlaceHolder = "Pesquisar ";
   // ViewBag.SearchMethod = "get";

   //var _visualizarTodas = BLL.Usuarios.VerificaAcesso("ViewAll", "PRCPropostas");
   //var _PrcPropsotas_Deletar = BLL.Usuarios.VerificaAcesso("Deletar", "PRCPropostas");
   //var _PrcPropsotas_Criar = BLL.Usuarios.VerificaAcesso("Criar", "PRCPropostas");
   //var _PrcPropsotas_CriarPorId = BLL.Usuarios.VerificaAcesso("CriarPorId", "PRCPropostas");
   
}




@section Breadcrumb{


}



<div class="content ">
    <div class="row">
        <div class="col-md-12" style="">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class=" p-xs font-normal">
                        <div class="row">
                            <div class="col-lg-6">
                                
                            </div>
                            <div class="col-lg-6">
                            <div class="btn-group pull-right">
                                @using (Html.BeginForm("Export", "PRCPropostas", FormMethod.Post, new { @class = "form-inline " }))
                                {
                                    <input type="hidden" name="pesquisar" value="@Request["pesquisar"]">
                                }
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- tirei daqui-->

                    <div class="table-responsivex">
                        <table cellpadding="1" cellspacing="1" class="table dataTable">
                        <caption>
                            @Model.Count() propostas
                        </caption>
                        <thead>
                            <tr style="font-size: 12px;">
                                <th>Proposta</th>
                                <th>Fonte</th>
                                <th>Requerente</th>
                                <th>Valor</th>
                                <th>valor sem mask</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                        <tr>
                            <td>@item.PRCPropostaId </td>
                            <td><span class="badge @item.Fonte">@item.Fonte</span></td>
                            <td>@item.RequerenteNome</td>
                            <td>R$ @string.Format("{0:N2}", item.PRCPropostaValorBruto)</td>
                            <td>@item.PRCPropostaValorBruto</td>
                            <td><a href="@Url.Content("~/PRCPropostas/TriagemEditar/" + item.PRCPropostaId + "/" + item.PRCPropostaGUID)" class="btn btn-outline btn-primary btn-xs">Editar</a></td>

                        </tr>
                            }
                        </tbody>

                    </table>


                    </div>

                  

                    <!-- ./tirei daqui-->
                </div>
            </div>
        </div>
    </div>
</div>







@section Styles{
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/fancybox/css")
    
}




@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/bundles/fancybox/js")

    <script type="text/javascript">
        $(".fancybox").fancybox({
            toolbar: false,
            padding: 0,
            fitToView: false,
            width: '80%',
            autoSize: true,
            helpers: {
                overlay: {
                    locked: true
                }
            }
        });
    </script>
    <script>

        // Initialize Example 2
        $('.dataTable').dataTable({
            "pageLength": 50,
            "paging": true,
            "ordering": true,
            "bLengthChange": true,
            "bFilter": true,
            "info": true,
            'columnDefs': [
                    { 'orderData': [4], 'targets': [3] },
                    {
                        'targets': [4],
                        'visible': false,
                        'searchable': false
                    },
            ],
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar ",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });






    </script>


}














