@model List<Models.PRCPropostaIndiceTipo>

@{
    ViewBag.Title = "Tipo de Índice";
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";    
    
    
    
}




@section Breadcrumb{

    <li class="active">@Html.ActionLink("Configurações", "Configuracoes", "Principal")</li>


}



<div class="content ">
    <div class="row">
        <div class="col-md-12" style="">
            <div class="hpanel">
                <div class="panel-body">
                    <!-- tirei daqui-->

                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table dataTable" id="table_produtos">
                            <thead>
                                <tr style="font-size: 12px;">
                                    
                                    <th>Tipo
                                    </th>

                                    
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        
                                        <td>
                                            <a href="@Url.Content("~/PRCPropostasIndices/Index/" + item.PRCPropostaIndiceTipoId + "/" + item.PRCPropostaIndiceTipoNome)" class="btn btn-outline btn-primary btn-xs">Selecionar</a> - @item.PRCPropostaIndiceTipoNome
                                        </td>

                                    
                                    </tr>
                                }

                            </tbody>



                        </table>


                    </div>



                    <!-- ./tirei daqui-->
                </div>
            </div>
        </div>
    </div>
</div>
@section css{
    @Styles.Render("~/bundles/datatables/css")

}


@section Scripts{
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")



    <script>

        // Initialize Example 2
        $('.dataTable').dataTable({
            "pageLength": 50,
            "paging": true,
            "ordering": true,
            "bLengthChange": true,
            "bFilter": true,
            "info": true,
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar ",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });






    </script>





}