@model Models.Pessoa

@{
    ViewBag.Title = "Criar Edifícios / Unidades";
}



@section Breadcrumb{
    <li class="active"><span class="divider">/</span> @Html.ActionLink("Edifícios / Unidades", "Index", new { id = 0 })</li>
}


<div class="cwell">

    <a name="endereco"></a><legend>Dados do Cliente</legend>
    <!-- Button to trigger modal -->

    <div class="row-fluid">
        <div class="span12">
            <label>Cliente</label>
            <div class="input-append">

                <button onclick="$('#myModal').modal('show')" role="button" class="btn" data-toggle="modal"><i class="icon-search"></i>Selecionar</button>
                <input class="span12" id="appendedInputButton" type="text" disabled="disabled">
            </div>
        </div>


    </div>

    <br />
    <a name="endereco"></a><legend>Descrição / Situação</legend>
    <div class="row-fluid">
        <div class="span12">
            <label>Descrição</label>
            <textarea rows="3" class="span12"></textarea></div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label>Situação</label>
            <select class="chosen-select">
                <option>Mapeado</option>
                <option>Não Mapeado</option>
                <option>Outros..</option>

            </select>

        </div>
    </div>

    <br />


    <a name="endereco"></a><legend>Endereço</legend>
    <div class="row-fluid">
        <div class="span4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Cep)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Cep, new { @class = "input-small" }) <a href="#endereco" id="buscar-cep"><i class="icon-search"></i></a>
                <label id="loading" style="display: none"><small>Buscando...</small></label>
                <br />@Html.ValidationMessageFor(model => model.Cep)
            </div>
        </div>
        <div class="span4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Endereco)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Endereco)
                <br />@Html.ValidationMessageFor(model => model.Endereco)
            </div>
        </div>
        <div class="span4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Numero)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Numero)
                <br />@Html.ValidationMessageFor(model => model.Numero)
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Complemento)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Complemento)
                <br />@Html.ValidationMessageFor(model => model.Complemento)
            </div>
        </div>
        <div class="span4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Bairro)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Bairro)
                <br />@Html.ValidationMessageFor(model => model.Bairro)
            </div>
        </div>
        <div class="span4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Cidade)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Cidade)
                <br />@Html.ValidationMessageFor(model => model.Cidade)
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <div class="editor-label">
                @Html.LabelFor(model => model.Estado)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Estado)
                <br />@Html.ValidationMessageFor(model => model.Estado)
            </div>
        </div>
        <div class="span8">
            <div class="editor-label">
                @Html.LabelFor(model => model.Observacao)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Observacao, new { @class = "input-xxlarge" })
                <br />@Html.ValidationMessageFor(model => model.Observacao)
            </div>
        </div>
    </div>



    


    <div class="form-actions">


        <input type="submit" value="Salvar" class="btn btn-primary  btn-large" />





    </div>


    <div>
        <a href="@Url.Content("~/EdificioUnidade/Index")">Voltar</a>
    </div>

</div>




<!-- Modal Pesquisa Cliente-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <legend id="myModalLabel">Pesquisar Clientes</legend>
    </div>
    <div class="modal-body">

        <div class="input-append">
            <input class="span4" id="appendedInputButton" type="text" placeholder="Nome do cliente...">
            <button class="btn" type="button">Pesquisar</button>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Nome</th>
                    <th>Documento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>Cliente @i</td>
                        <td>@(i + 393232)</td>
                        <td><a href="#" class="btn btn-primary"><i class="icon-ok"></i></a></td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>
