@model Models.PessoaPlanoGrupoView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FortunaHome.cshtml";

    var _copyright = BLL.Utils.Funcoes.GetWebConfigKey("copyright");

   
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">

               

                <h3>Informe sua Senha</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                     @if (Model.EmpresaId != null)
                {
                    <h1 class="text-center">
                        <img src="@VirtualPathUtility.ToAbsolute("~/Assets/img/logotipos/" + Model.EmpresaId + ".png")" /></h1>
                
                }

                    @using (Html.BeginForm("LoginAssociado", "Eventos", FormMethod.Post, new { @id = "loginForm" }))
                    {
                    @Html.HiddenFor(x=>x.PessoaPlanoGrupoId)
                        @Html.HiddenFor(x=>x.PessoaPlanoGrupoGUID)
                        @Html.HiddenFor(x=>x.EmpresaId)
                        @Html.HiddenFor(x=>x.PessoaDocumento)
                        @Html.HiddenFor(x=>x.Pessoa.Nome)
                        
                        <div class="form-group">
                            <label class="control-label" for="PessoaDocumento">CPF</label>
                            <p class="form-control-static">@Model.PessoaDocumento</p>
                        </div>
                        
                            <div class="form-group">
                            <label class="control-label" for="PessoaDocumento">Nome</label>
                            <p class="form-control-static">@Model.Pessoa.Nome.ToUpper()</p>
                        </div>
                        
      
                        
                        <div class="form-group">
                            <label class="control-label" for="PessoaSenha">Senha</label>
                            @Html.PasswordFor(model => model.PessoaSenha, new { @class = "form-control", placeholder = "******", required = "", autofocus = "" })
                        </div>
                        
                            
                        <button type="submit" class="btn btn-success btn-block">Próximo</button>
                        
                    }
                    <br />
                    <a href="@Url.Content("~/Eventos/Index/"+Model.EmpresaId)" class="pull-left">Voltar</a>

                    <small class="pull-right">Não lembra sua senha? <a>Clique aqui</a></small>
                    
                    <br />
                </div>
                
            </div>


        </div>

  

    </div>
    <div class="row">
        <div class="col-md-12 text-center">

            @if (_copyright == "" || _copyright == "true")
            {
                <span><strong>Fortuna</strong> - Gestor do seu negócio<br />
                    2017 Copyright |  E-Bee</span>
            }


        </div>
    </div>
</div>


@section Styles{
    

}


@section Scripts {
    
    @Scripts.Render("~/bundles/mask/js")


    <script>
        $("#PessoaDocumento").mask("999.999.999-99");
        $("#PessoaSenha").focus();
        </script>
}