@model Models.ContaTipo

@{
    ViewBag.Title = "Excluíndo tipos de conta";
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";  
}


@section Breadcrumb{
      <li class="active"><span class="divider">/</span> @Html.ActionLink("Configurações", "Configuracoes", "Principal")</li>
  <li class="active"><span class="divider">/</span>  @Html.ActionLink("Tipos de Conta", "Index", new { id = 0 })</li>
}




<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h2>Atencão!</h2>
    Você tem certeza que deseja apagar esse tipo de conta?
</div>

<div class="cwell">
<fieldset>
    <legend>Tipo de Conta</legend>

 

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContaTipoCd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContaTipoCd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContaTipoNome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContaTipoNome)
    </div>

</fieldset>
  @using (Html.BeginForm())
        {
            <div class="row-fluid">
                <div class="span12">
                    @Html.HiddenFor(model => model.ContaTipoId)
                    <p class="pull-right">
                        <input type="submit" value="Apagar" class="btn btn-large btn-danger" />
                    </p>

                    <p class="pull-left">
                        @Html.ActionLink("Voltar", "Index")
                    </p>
                </div>
            </div>    
        }

        
    </div>