@model Models.CupomTipo



@{
    var user = new BLL.Usuarios();


    var acao = "Cadastrar";
    if (Model.CupomTipoId > 0)
    {
        acao = "Alterar";
    }


    ViewBag.Title = acao + " Tipo de Cupom";
    Layout = "~/Views/Shared/_FortunaLayout.cshtml";  

    
}





@section Breadcrumb{
    <li class="active"><span class="divider">/</span> @Html.ActionLink("Configurações", "Configuracoes", "Principal")</li>
    <li class="active"><span class="divider">/</span> @Html.ActionLink("Tipos de Cupom", "Index", new { id = 0 })</li>
}


<div class="cwell">
    @using (Html.BeginForm("Criar", "CuponsTipos", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)

        if (Model.CupomTipoId > 0)
        {
        @Html.Hidden("CupomTipoId", Model.CupomTipoId);
                                                  acao = "Alterar";
        }

            
        <div class="control-group">
            @Html.LabelFor(model => model.CupomTipoNome, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CupomTipoNome)
                @Html.ValidationMessageFor(model => model.CupomTipoNome)
            </div>
        </div>
        
         <div class="control-group">
            @Html.LabelFor(model => model.CupomCodigoComplementar, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CupomCodigoComplementar)
                @Html.ValidationMessageFor(model => model.CupomCodigoComplementar)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(model => model.CupomTipoDescricao, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CupomTipoDescricao)
                @Html.ValidationMessageFor(model => model.CupomTipoDescricao)
            </div>
        </div>
        
        
            

        <div class="form-actions">


            <input type="submit" value="@acao" class="btn btn-primary  btn-large"  TabIndex=10 />

        </div>
            
    }
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>


<br />





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
