@model Models.MedicaoRelatorioAssinar

@{
    ViewBag.Title = "Assinar Medição";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var bllMedicoesRelatorios = new Bll.MedicoesRelatorios();
}


@section Styles{

   
}


@section Breadcrumb{
     @if (Bll.Usuarios.AccessControl("Criar", "MedicoesRelatorios"))
    {
    <li><span class="divider">/</span><a href="~/Projetos/Index">Obras</a></li>
    <li><span class="divider">/</span><a href="~/Projetos/Criar/@Model.DadosProjeto.ProjetoId">@Model.DadosProjeto.ProjetoNome</a></li>
    <li><span class="divider">/</span><a href="~/MedicoesRelatorios/Index/@Model.DadosProjeto.ProjetoId">Relatórios Medição</a></li>
     }
}



<ul class="nav nav-tabs">
    @if (Bll.Usuarios.AccessControl("Criar", "MedicoesRelatorios"))
    {
    <li><a href="~/MedicoesRelatorios/Criar/@Model.MedicaoRelatorio.MedicaoRelatorioId?ProjetoId=@Model.DadosProjeto.ProjetoId">Dados</a></li>
    }
    <li class="active"><a href="~/MedicoesRelatorios/Assinar/@Model.MedicaoRelatorio.MedicaoRelatorioId?ProjetoId=@Model.DadosProjeto.ProjetoId">Assinar</a></li>
    <li class="pull-right"><a href="~/MedicoesRelatorios/Imprimir/@Model.MedicaoRelatorio.MedicaoRelatorioId?ProjetoId=@Model.DadosProjeto.ProjetoId" class="btn btn-mini"><i class="icon-print"></i>Imprimir</a></li>
</ul>


@Html.Partial("~/Views/Foo/_MedicaoRelatorio.cshtml")



<div class="row-fluid">
    <div class="span6">
        

        @if (Model.MedicaoRelatorio.FiscalId == 0 && Bll.Usuarios.IsFiscal())
        {
            using (Html.BeginForm())
            {
            <legend>Assinar</legend>
            @Html.HiddenFor(model => model.MedicaoRelatorioId)
            @Html.HiddenFor(model => model.ProjetoId)
            @Html.Hidden("UsuarioFiscal", true);
            @Html.Hidden("UsuarioEngenheiro", false); 
            <label>Seu e-mail</label>
            @Html.TextBoxFor(model => model.login, null, new { placeholder = "Seu e-mail", required = "preencha o campo", autofocus = "" })
            
            <label>Senha</label><div class="input-append">
                @Html.PasswordFor(model => model.senha, new { placeholder = "Sua senha", required = "", autofocus = "" })
                
                <input type="submit" value="Assinar" class="btn" />
            </div>
            }
        }
        


    </div>
    
    <div class="span6" >
        @if (Model.MedicaoRelatorio.EngenheiroId == 0 && Bll.Usuarios.IsEngenheiro())
        {
            using (Html.BeginForm())
            {
            <legend>Assinar</legend>
             @Html.HiddenFor(model => model.MedicaoRelatorioId)
            @Html.HiddenFor(model => model.ProjetoId)
            @Html.Hidden("UsuarioFiscal", false);
            @Html.Hidden("UsuarioEngenheiro", true); 
            <label>Seu e-mail</label>
            @Html.TextBoxFor(model => model.login, null, new { placeholder = "Seu e-mail", required = "preencha o campo", autofocus = "" })
            <label>Senha</label><div class="input-append">
                @Html.PasswordFor(model => model.senha, new { placeholder = "Sua senha", required = "", autofocus = "" })
                <input type="submit" value="Assinar" class="btn" />
            </div>
            }
        }
    </div>
</div>

<br />

<p class="pull-left">
    @Html.ActionLink("Voltar", "Index")
</p>

