@model Models.Usuario

@{
    
    var acao = "Cadastrar";
    if (Model.UsuarioId > 0)
    {
        acao = "Alterar";
    }


    ViewBag.Title = acao + " Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Breadcrumb{
    <li class="active"><span class="divider">/</span> <a href="~/Clientes/Index/@Model.UsuarioEmpresaId">@Model.UsuarioEmpresaNomeFantasia</a></li>
    <li class="active"><span class="divider">/</span>    @Html.ActionLink("Usuários", "Index", new { id = Model.UsuarioEmpresaId })</li>
}





@using (Html.BeginForm("Criar", "Clientes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

        
        
    if (Model.UsuarioId > 0)
    {
    @Html.Hidden("UsuarioId", Model.UsuarioId);
    @Html.Hidden("SecurityStamp", Model.SecurityStamp);
    @Html.Hidden("EmailConfirmed", Model.EmailConfirmed);

                                                        acao = "Alterar";
    }

    @Html.Hidden("EmpresaId", Bll.Usuarios.GetEmpresaId());
    @Html.Hidden("EntidadeId", Convert.ToInt16(Bll.Entidade.Tipo.Clientes));
    @Html.Hidden("UsuarioCodigo", 0);
    
    <legend>Dados básicos</legend>
    <div class="row-fluid">
        <div class="span9">
            <div class="control-group">
                <label>Empresa</label>
                @Html.DropDownListFor(model => model.UsuarioEmpresaId, (SelectList)ViewBag.ddlUsuariosEmpresas, "--Selecione--")
            </div>

            <div class="control-group">
                <label>Nome</label>
                @Html.TextBoxFor(model => model.UsuarioNome, new { @class = "span12" })
                @*@Html.ValidationMessageFor(model => model.UsuarioNome)*@
            </div>

            <div class="control-group">
                <label>E-mail</label>
                @Html.TextBoxFor(model => model.UsuarioEmail, new { @class = "span9" })
                @*@Html.ValidationMessageFor(model => model.UsuarioEmail)*@
            </div>

            <div class="control-group">
                <label>Cargo</label>
                @Html.TextBoxFor(model => model.UsuarioCargo, new { @class = "span9" })
                @*@Html.ValidationMessageFor(model => model.UsuarioCargo)*@
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label>Telefone Principal</label>
                        @Html.TextBoxFor(model => model.UsuarioDDD, new { @class = "input-mini" }) @Html.TextBoxFor(model => model.UsuarioTelefone)
                        @*@Html.ValidationMessageFor(model => model.UsuarioDDD)*@  @*@Html.ValidationMessageFor(model => model.UsuarioTelefone)*@
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label>Telefone</label>
                        @Html.TextBoxFor(model => model.UsuarioCttDDD, new { @class = "input-mini" }) @Html.TextBoxFor(model => model.UsuarioCttTelefone)
                        @*@Html.ValidationMessageFor(model => model.UsuarioCttDDD)*@  @*@Html.ValidationMessageFor(model => model.UsuarioCttTelefone)*@
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label>Observações</label>
                        @Html.TextAreaFor(model => model.UsuarioObservacao, new { @class = "span12" })
                        @*@Html.ValidationMessageFor(model => model.UsuarioObservacao)*@
                    </div>
                </div>
            </div>


        </div>
        <div class="span3">
            <div class="control-group">
                @if (Model.UsuarioFoto != null && Model.UsuarioFoto != "")
                {
              
                    <ul class="thumbnails">
                        <li class="span12">
                            <div class="thumbnail">
                                <img src="@Url.Content(Model.UsuarioFoto.Replace(".jpg", "thumb.jpg"))?@DateTime.Now.Second" alt="Foto de Divulgação">
                                <div class="caption">
                                    <h5>Foto</h5>
                                    <p>JPEG ou PNG</p>
                                    <a href="@Url.Content("~/Usuarios/RemoveFoto/" + @Model.UsuarioId)" class="btn btn-danger remove" onclick="return confirm('Deseja realmente excluir essa foto?')"><i class="icon-trash icon-white"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
                else
                {  
                    <ul class="thumbnails">
                        <li class="span12">
                            <div class="thumbnail">
                                <img src="~/Content/images/YourPhotoHere.png" alt="Foto de Divulgação" width="100" height="100" />
                                <div class="caption">
                                    <h5>Foto</h5>
                                    <p>JPEG ou PNG</p>
                                    <input type="file" name="Arquivo" />
                                </div>
                            </div>
                        </li>
                    </ul>
            
                }
            </div>

        </div>

    </div>
  
    <legend>Propriedades</legend>
    <div class="row-fluid">
        <div class="span4">
            <label class="checkbox">
                @Html.CheckBoxFor(model => model.UsuarioEngenheiro) Exibir na lista de Engenheiros
            </label>
        </div>
        <div class="span4">
            <label class="checkbox">
                @Html.CheckBoxFor(model => model.UsuarioFiscal) Exibir na lista de Fiscais
            </label>
        </div>
    </div>
  

    
    
    <legend>Dados de Acesso</legend>
    <div class="row-fluid">
        <div class="span12">
            <label class="checkbox">
                @Html.CheckBoxFor(model => model.PossuiAcesso) <i class="fa fa-check-circle-o "></i>- Possuirá acesso ao sistema
            </label>
        </div>
    </div>
    
    
    
            
                if (Model.UsuarioId == 0)
                {
    
    <div class="row-fluid" id="div_acesso" style="display: none">
        <div class="span12">


            <div class="control-group">
                <label>Perfil de acesso (Função)</label>
                @Html.DropDownListFor(model => model.PerfilId, (SelectList)ViewBag.ddlPerfil, "--Selecione--")
                @*@Html.ValidationMessageFor(model => model.PerfilId)*@
            </div>

            <div class="control-group">
                <label>Senha:</label>
                @Html.EditorFor(model => model.DefinirSenha.newPassword)
                @*@Html.ValidationMessageFor(model => model.DefinirSenha.newPassword)*@
            </div>


            <div class="control-group">
                <label>Confirmar senha:</label>
                @Html.EditorFor(model => model.DefinirSenha.ConfirmPassword)
                @*@Html.ValidationMessageFor(model => model.DefinirSenha.ConfirmPassword)*@
            </div>



            <div class="control-group">
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.AcessoRestrito) Acesso restrito? 
                </label>

            </div>

            <div class="control-group">
                <label>IP</label>
                @Html.EditorFor(model => model.AcessoIP)
                <small>Seu IP atual é  @Request.UserHostAddress</small>
            </div>

            <div class="control-group">
                <label class="checkbox">@Html.CheckBox("enviaEmailPosCadastro", true) Enviar email de primeiro acesso após cadastro</label>
            </div>

        </div>
    </div>
                }
                else
                {
    <div class="row-fluid" id="div_acesso" style="display: none">
        <div class="span12">

            <div class="control-group">
                <label>Perfil de acesso (Função)</label>
                @Html.DropDownListFor(model => model.PerfilId, (SelectList)ViewBag.ddlPerfil, "--Selecione--")
                @*@Html.ValidationMessageFor(model => model.PerfilId)*@
            </div>

            <div class="control-group">
                <label class="checkbox">
                    @Html.CheckBoxFor(model => model.TermoUso) <i class="icon-ok"></i> - Termo de Uso Aceito
                </label>
            </div>

            @if (!Model.EmailConfirmed)
            {
                <div class="control-group">
                    <label class="checkbox">@Html.CheckBox("enviaEmailPosCadastro", false) Enviar email de primeiro acesso após cadastro</label>
                </div>
            }

        </div>
    </div>
                }
            
            
    <div class="form-actions">


        <input type="submit" value="@acao" class="btn btn-primary  btn-large"  TabIndex=10 />

    </div>
            
}
<div>
    @Html.ActionLink("Voltar", "Index")
</div>




@section Scripts {


    <script>
        $("#UsuarioDDD").mask("99");
        $("#UsuarioTelefone").mask("9999-9999?9");

        $("#UsuarioCttDDD").mask("99");
        $("#UsuarioCttTelefone").mask("9999-9999?9");

        $("#div_acesso").toggle($("#PossuiAcesso").is(':checked'));

        jQuery(function () {



            $('#PossuiAcesso').click(function () {
                $("#div_acesso").toggle(this.checked);
            });



        });


    </script>

}
